doctype html
html
  head
    title= punchr
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      h1 punchr
    div.nav
      a(href='/') Home
      a(href='/users') Users
      a(href='/admin') Admin
    div.content
      block content
    div.footer
      h6 punchr app by mishyjari
