extends layout
block content
  div.users_main
    h3 Functionality to incorporate:
    ul
      li
        a(href='/users/login') Login
      li
        a(href='/users/list') All Users 
      li Search for user info and current status
      li Show user punch hisory (req. user or admin auth)
      li Edit user information (req. user or admin auth)
      li
        a(href='/users/new') Add User 
